#topDiv{
    position:absolute;
    height: 15%;
    background-color: #4F70CC;
}
#leftDiv{
    position:absolute;
    height: auto;
    top:15%;
    background-color: #FFD2BB;
    
}
#rightDiv{
    position: absolute;
    min-height:  115%;
    max-height: auto;
    top:15%;
    left: 25%;
    background-color: #878C99;
    
}
#Automata{
    position: absolute;
    top:3%;
    left: 25%;
    right: 25%;
    width:50%;
    height:50%;
}
#CadenaDiv{
    position: absolute;
    left:45%;
    top:60%;
}
#backnext{
    position: absolute;
    top:80%;

}
  